
@using GoldRush.Models;

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
  <link rel="stylesheet" href="~/css/board.css">
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="~/js/scripts.js"></script>
  <title>Stuff!</title>
</head>
<body>
  <table class="game-board">
    <h1>Gold Rush</h1>
    @for (var i = 0; i < 10; i++)
    {
      <tr></tr>
      <td>@for (var j = 0; j < @Model.Count; j++)
      {
        @if (j % 10 == 0 || j == 0)
        {
          @if(@Model[i+j].SquareType == -1)
          {
            <button class="clicked" id="@Model[i+j].Id" onclick="disable(@Model[i+j].Id)" value="@Model[i+j].SquareType">&nbsp</button>
          }
          @if(@Model[i+j].SquareType != -1)
          {
            <button class="clicked" id="@Model[i+j].Id" onclick="disable(@Model[i+j].Id)" value="@Model[i+j].SquareType">&nbsp</button>
          }
        }
      }</td>
    }
    <img class="hiddenGold" src="../img/goldfind.jpg">
    <img class="hiddenTnt" src="../img/theTnt.png">
  </table>
  <h1 id="turnCounter">Turn: 0</h1>
  <h1 id="goldCounter">Players Gold: 0</h1>
  <h1>Number of Tnt:</h1>
  <h1>@Model[99].TntCount</h1>
  <h1 id="goldies">Number of Gold: @Model[99].GoldCount</h1>
  <ul>
    <li value="@Model[99].GoldCount" id="goldie">@Model[99].GoldCount</li>
  </ul>
</body>
</html>
